<article class="grid_16">
<div class="box white">
  <div class="padding">
    <h3>Resend Confirmation Instructions</h3>
    <p>We understand that things get lost. Misplacing your confirmation instructions is perfectly normal. Simply enter your account email address and we will send them to you again.</p>
    <div class="wrapper">
        <div class="contact_form">
	<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :id => "contact_form" }) do |f| %>
	  <div class="field">
	      <label>Email*</label>
			<%= f.email_field :email, :class => "validate[required,custom[email]]" %>
	      </div>
	  <div class="submit-button-wrapper">
		 	<%= f.submit "Submit" , :id=>"submit", :class=>"button"  %>
	      </div>
	<% end %>
        </div>
    </div>
    <div class="wrapper">
       <%= devise_error_messages! %>

    </div>
  </div>
</div>
</article>
<script>
    $("#contact_form").validationEngine();
</script>

<%= render :partial=>"shared/generic_side" %>