﻿<article class="grid_24">
<div class="box white">
	<article class="grid_24 alpha">
	<div class="padding">
		<h3>Privacy Policy</h3>
		<h5>Disclaimer </h5>
		<p>We provide this website and its contents on an &quot;as is&quot; basis and make no 
		(and expressly disclaim all) representations or warranties of any kind, 
		express or implied, with respect to this website or the information, 
		content, products or services included in this site. Whilst every effort 
		has been taken to ensure the accuracy of the information on the website, 
		the content is naturally subject to change. In no event will the owners 
		be held liable for any direct, indirect, special incidental or 
		consequential damages arising out of the use of the information held on 
		this server. Every effort is made to ensure downloadable content is free 
		from viruses.</p>
		<h5>Website Privacy</h5>
		<p>At Profit Engine, the privacy of our visitors is of extreme importance 
		to us. This page outlines the types of personal information is received 
		and collected by Profit Engine and how it is 
		used. <br>
		Our website does not collect information that personally identifies 
		individuals except when that information is provided on a voluntary 
		basis. If we need to collect any information from our partners, We share 
		why we are asking for that information and we make sure that information 
		provided to Profit Engine will 
		not be, in any form, sold or made available to a third party for 
		commercial or advertising purposes. Although, we may work with website 
		content management services and data storage providers, these third 
		parties are not authorized to make use of any information you provide 
		through our website.</p>
		<h5>Copyright Statement</h5>
		<p>Profit Engine is providing 
		information and services on the World Wide Web completely free for 
		anyone. We grant permissions to use, copy and distribute documents, 
		images and general information delivered from this website for private, 
		non-commercial and education purposes only, provided that full credits 
		are given to the corresponding copyright owners. The names and logos of 
		the Profit Engine website may 
		not be used without specific written prior permission. For full copyright information about all images 
		and logos used across Profit Engine&#39;s website, please <a href="/contact">contact us</a>.</p>
		<h5>Email</h5>
		<p>Website visitors should be aware that e-mail is not a secure or private 
		method of transmitting information. Please do not send confidential 
		information to us via the e-mail tools provided.</p>
		<h5>Third Parties Connections</h5>
		<p>Our website contains links to third-party websites. The practices of 
		these sites are outside the control of
		Profit Engine. We provide links 
		to those third parties&#39; websites as information sources in our effort to 
		serve our customers better and provide them with more information. Users 
		should verify the privacy policies of these sites before submitting 
		information to them.</p>
		<h5>Collecting Information</h5>
		<p>When you visit Profit Engine 
		website, we may also collect information that does not personally 
		identify you, such as your internet protocol (IP) address or local host 
		and other related information which may be stored in our server or web 
		hosts for technical purposes. In the event that you e-mail us, request, 
		print, download or upload any materials to us or contact us in any way, 
		we receive and may store your personal information such as your email 
		address. Other circumstances which may bring your information to us are 
		through advertisers, business partners or third party affiliates. All 
		these depend on the page you are on or the activity you are visiting or 
		participating in.</p>
		<h5>Using Your Information</h5>
		<p>We use all information with accordance with legal and statutory 
		requirements. Aggregate information is used for statistics and 
		determining which page is most widely visited. This information helps us 
		in finding out how to make our website better. Aggregate information is 
		not shared with any third party vendors or companies. We may use your 
		email address to contact you from time to time to let you know about new 
		features on our website.</p>
		<h5>Sharing Information</h5>
		<p>We may use tools that serve as communication bridge between several 
		communities. Visitors who wish to use these tools should be aware that 
		disclosing personally identifiable information online makes the 
		information public information. Such disclosure may increase a user&#39;s 
		chance of receiving &quot;spam&quot; or unsolicited email from unscrupulous users. 
		We strongly recommend that users take extra care to use discretion when 
		disclosing information online in chat rooms or forums.</p>
		<h5>Log Files</h5>
		<p>Like many other Web sites, Profit 
		Engine makes use of log files. The information inside the log files 
		includes internet protocol ( IP ) addresses, type of browser, Internet 
		Service Provider ( ISP ), date/time stamp, referring/exit pages, and 
		number of clicks to analyze trends, administer the site, track user’s 
		movement around the site, and gather demographic information. IP 
		addresses, and other such information are not linked to any information 
		that is personally identifiable. </p>
		<h5>Cookies and Web Beacons</h5>
		<p>Profit Engine does use cookies 
		to store information about visitors preferences, record user-specific 
		information on which pages the user access or visit, customize Web page 
		content based on visitors browser type or other information that the 
		visitor sends via their browser. </p>
		<h5>DoubleClick DART Cookie</h5>
		<p>.:: Google, as a third party vendor, uses cookies to serve ads on
		Profit Engine<br>
		.:: Google&#39;s use of the DART cookie enables it to serve ads to users 
		based on their visit to Profit 
		Engine and other sites on the Internet. <br>
		.:: Users may opt out of the use of the DART cookie by visiting the 
		Google ad and content network privacy policy at the following URL -
		<a href="http://www.google.com/privacy_ads.html">
		http://www.google.com/privacy_ads.html</a> </p>
		<p>Some of our advertising partners may use cookies and web beacons on 
		our site. Our advertising partners include, but are not limited to, Google Adsense, Clickbank, 
		Amazon, etc. These third-party ad servers or ad networks use technology 
		to the advertisements and links that appear on
		Profit Engine send directly to 
		your browsers. They automatically receive your IP address when this 
		occurs. Other technologies ( such as cookies, JavaScript, or Web Beacons 
		) may also be used by the third-party ad networks to measure the 
		effectiveness of their advertisements and / or to personalize the 
		advertising content that you see.
		Profit Engine has no access to or control over these cookies that 
		are used by third-party advertisers. <br>
		You should consult the respective privacy policies of these 
		third-party ad servers for more detailed information on their practices 
		as well as for instructions about how to opt-out of certain practices.
		Profit Engine&#39;s privacy policy 
		does not apply to, and we cannot control the activities of, such other 
		advertisers or web sites. </p>
		<h5>How To Contact Us</h5>
		<p>We use e-mail links and our server side programs, generally located on 
		the Contacts page, in order to allow you to contact us directly with any 
		questions or comments. We read every message sent in and try to reply 
		promptly to everyone. We then file your comments to improve on our site, 
		features, and programs.</p>
		<p>If you require any more information or have any questions about our 
		privacy policy, please feel free to
		<a href="/contact">contact us.</a></p>
	</div>
	</article>
</div>
</article>

