﻿<!--==============================edit_user_account================================-->
<article class="grid_12">
  <div class="box white maxheight">
      <div class="padding">
        <h3>Edit <%= resource_name.to_s.humanize %> Account Settings</h3>
		<div class="wrapper">
			<div class="contact_form">

				<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name, :secure=>true), :html => { :method => :put, :id=>"contact_form" }) do |f| %>
				  <%= devise_error_messages! %>
				
				  <div class="field">
					<label>Email*</label>
				  <%= f.email_field :email, :class=>"validate[required,custom[email]]"%></div>
				  
				  <div class="field"><label>Current Password*</label>
				  <%= f.password_field :current_password %>
				   <br><em>(we need your current password to confirm your changes)</em>
				   </div>
				   
				  <div class="field"><label>New Password*</label>
				  <%= f.password_field :password %>
				  <br><em>(leave blank if you don't want to change it, i.e. when changing only your email address)</em>
				  </div>
				
				  <div class="field"><label>Confirm New Password*</label>
				  <%= f.password_field :password_confirmation, :class => "validate[equals[user_password]]" %>
				  </div>
				
					
				
				  <div class="submit-button-wrapper">
				  <%= f.submit "Update" %></div>
				  
              <% end %>
            </div>
        </div>
      </div>
  </div>
</article>
<script>
    $("#contact_form").validationEngine();
</script>
<article class="grid_12">
  <div class="box white maxheight">
      <div class="padding">

<h3>Cancel My Account</h3>

<p>Unhappy? We won&#39;t understand why but nevertheless here&#39;s your way out. </p>

<%= link_to "Cancel Account", registration_path(resource_name), :class=>"button", :confirm => "Are you sure? This is permanent and cannot be undone.", :method => :delete %>.
          
		</div>
	</div>
</article>