<article class="grid_12">
    <div class="box white">
      <div class="padding">
        <h3>Sign Up</h3>
        <div class="wrapper">
        <p>Create your account using the form below. It's that simple.</p>
            <div class="contact_form">
              <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name, :secure=>true), :html => { :id=>"contact_form" }) do |f| %>
                  <div class="field">
                  <label>Email*</label>
                    <%= f.email_field :email, :class => "validate[required,custom[email]]" %>
                  </div>
                  <div class="field">
                  <label>Password*</label>
                    <%= f.password_field :password, :class => "validate[required]", :id=>"signup_password" %>
                  </div>
                  <div class="field">
                  <label>Repeat Password*</label>
                    <%= f.password_field :password_confirmation, :class => "validate[required,equals[signup_password]]" %>
                  </div>
                  <div class="submit-button-wrapper">
                    <%= f.submit "Submit" , :id=>"submit", :class=>"button"  %>
                    
                  </div>
              <% end %>
            </div>
        </div>
        <div class="wrapper">
        <%= devise_error_messages! %>

        </div>
      </div>
    </div>
</article>
<script>
    $("#contact_form").validationEngine();
</script>
