
<div class="container_24 extra-wrap indent-bot">
   <article class="grid_12">
    <div class="box white maxheight">
      <div class="padding">
        <h3>How Profit Engine Works</h3>
        <p class="color"><strong>Profit Engine</strong> employs automations to enhance the way your products perform on Amazon.
        If you are an experienced Amazon seller or even if you just started selling on Amazon you probably have
		already realized that the price
        at which you are selling your products makes a big difference. </p>
		  <p class="color">In fact, a great majority of the customers who are looking for your product will buy
        it from the seller that offers the lowest price. Simple economics, we agree. If only there were some way to find out what the lowest
        price is and lower your item's price just below that... Oh, wait, there is - it's called <strong>Profit Engine</strong>!</p>
		  <p class="color">Profit Engine goes even further than just setting your product to the lowest
         market price - it does that <em>continuously</em>. So you don't have to worry that someone else is stealing your customers
            while you're out having a beer - we'll do that for you. Actually we never worry either, we created
		  Profit Engine, remember?
 </p>
		  <p class="color">So how do you go from seller to stellar? You start with connecting
		  Profit Engine to your Amazon account, then you click on some radio buttons,
 fill in some numbers (lowest price, etc. -- you wouldn't want your stuff to sell for free), hit some buttons and fuggedaboutit.
            Go enjoy life!
 </p>
        <a class="button" href="<%=new_user_registration_url%>">Sign Up Today! <span></span></a>
      </div>
    </div>
  </article>
  <%= render :partial => 'setup/threesome' %>
</div>
