<!--==============================amazon_listings================================-->
<article class="grid_24">
  <div class="box white">
      <div class="padding">
		  <h3>Account Settings</h3>
		  <p>Here you can edit your account settings. Since there were two types of
          accounts you setup when you started, there are two buttons below, each 
		  one taking you to the corresponding settings to edit.</p>
		  <article class="grid_12 margin-bot">
          <% if current_user.amazon_account.nil? %>
              <%= link_to "Add Amazon Account Credentials", new_amazon_account_path, :class => "button", :alt => "You need to add your Amazon account details in order to use ProfitEngine", :title => "You need to add your Amazon account details in order to use ProfitEngine" %>
          <% else %>
              <%= link_to "Edit Amazon Account Credentials", amazon_account_path(current_user.amazon_account), :class => "button", :alt => "Edit your Amazon account details", :title => "Edit your Amazon account details" %>
          <% end %>
         </article>
	  <article class="grid_10 margin-bot" >
          <%= link_to "Edit Profit Engine Settings", edit_user_registration_url, :class => "button", :alt => "Edit your Profit Engine settings", :title => "Edit your Profit Engine settings" %>
          </article>		
        
       
      </div>
  </div>
</article>

