<%= javascript_include_tag "jquery.tipTip" %>
<%= javascript_include_tag "accounts" %>
<%= stylesheet_link_tag "accounts"%>

<!--==============================amazon_account================================-->
<article class="grid_12">
    <div class="box white maxheight">
      <div class="padding">
        <h3>Add Your Amazon Account</h3>
        <div class="wrapper">
          <figure class="img-indent">
            <div class="contact_form">
              <%= semantic_form_for @amazon_account||AmazonAccount.new(:user_id=>current_user), :html=>{:id=>"contact_form"} do |form| %>
                  <div class="error">
                    <%= form.semantic_errors %>
                  </div>
                  <div class="field">
                    <%= form.input :merchant_id, :input_html=>{:class=>"validate[required]"}, :label => "Merchant ID*" %>
                  </div>
                  <div class="field">
                    <%= form.input :marketplace_id, :input_html => {:class => "validate[required]"}, :label => "Marketplace ID*" %>
                  </div>
                  <div class="field">
                    <%= form.input :social_ads, :input_html => {:class => "checkbox"}, :label=>raw("Social Advertizing? #{image_tag "/images/icons/help.png",
                                                                                                                                    :class=>"tooltip",
                                                                                                            :title=>"If you choose this option, you will see a button next to each inventory item that will allow you to advertize your products on most popular social networks to maximize your income.<br>We suggest you enable it now and disable later if you don't want it."}") %>
                  </div>

                      <div class="submit-button-wrapper">
                        <input class="button create" data-disable-with="Working..." id="amazon_account_submit" name="commit" type="submit" value="Submit" />
                      </div>

              <% end %>
            </div>
          </figure>
        </div>
      </div>
  </div>
</article>
  <article class="grid_12">
    <div class="box white maxheight">
      <div class="padding block">
      <h3>What Do I Do Now?</h3>
      <p>You are nearly there. Follow these steps to complete your setup.</p>
      <div class="number">
		  01</div>
		<p><%= link_to "Open a new window",
                            "https://sellercentral.amazon.com/gp/mws/registration/register.html?applicationName=#{APPLICATION_NAME}&appDevMWSAccountId=#{MWS_DEV_ID}",
                            :method =>:post,
                            :id     =>"amazon_link",
                            :target => "_blank",
                            :alt    => "https://sellercentral.amazon.com/gp/mws/registration/register.html",
                            :title  => "https://sellercentral.amazon.com/gp/mws/registration/register.html" %>
and login to Amazon with your Seller Account. <br>Follow 
                <%= link_to "this link",
                            "https://sellercentral.amazon.com/gp/mws/registration/register.html?applicationName=#{APPLICATION_NAME}&appDevMWSAccountId=#{MWS_DEV_ID}",
                            :method =>:post,
                            :id     =>"amazon_link",
                            :target => "_blank",
                            :alt    => "https://sellercentral.amazon.com/gp/mws/registration/register.html",
                            :title  => "https://sellercentral.amazon.com/gp/mws/registration/register.html" %>
                  <a id="copy_link" title="Copy to clipboard">
                  <%= image_tag "clipboard.png", :alt => "Copy to clipboard", :title => "Copy to clipboard" %>
				  </a>to a page on which you can authorize Profit Engine to access your account.</p>
				  <div class="number">
				  02</div>
				<p>Check where it says
                <em><u>"I want to use an application to access my Amazon seller account with MWS."</u></em> and then type in the following information:
                <em>Application Name:</em> <span style="color:#80a407;">
				  <b id="profit_engine_name"><%= APPLICATION_NAME %></b></span>
				  <a id="copy_name" title="Copy to clipboard">
                  <%= image_tag "clipboard.png", :alt => "Copy to clipboard", :title => "Copy to clipboard" %>
				  </a><br><em>Application's Developer Account Number:</em><span style="color:#80a407;"><b id="profit_engine_id"><%= MWS_DEV_ID %>
				  </b></span><a id="copy_number" title="Copy to clipboard">
                  <%= image_tag "clipboard.png", :alt => "Copy to clipboard", :title => "Copy to clipboard" %>
				  </a><br>
				  <a href="/images/mws/step1.png" rel="prettyPhoto" title="Type in the Application Name and the Application's Developer Account Number like this">Click to see a snapshot</a>
                </p>
         <div class="number">
				  03</div>
				<p>Agree to Amazon's service agreement.<br>
				  Record your Amazon <b><u>Merchant ID</u></b>
				and <b><u>Marketplace ID</u></b><br>
				 <a href="/images/mws/step2.png" rel="prettyPhoto" title="Agree, click next and then get your Merchant ID and Marketplace ID">Click
                to see a snapshot</a></p>
		  <div class="number">
				  04</div>
				  <p>Enter the Amazon IDs that you recorded in the form on the left side of this page</p>

      </div>
    </div>
  </article>

<script>
    $("#contact_form").validationEngine();
</script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("a[rel^='prettyPhoto']").prettyPhoto();
  });
</script>

