﻿nav {behavior: url(/javascripts/PIE.htc);position:relative;}
.sf-menu li.first {behavior: url(/javascripts/PIE.htc);}
a.block {behavior: url(/javascripts/PIE.htc);position:relative;}
a.block .number {behavior: url(/javascripts/PIE.htc);position:relative;}
.button {behavior: url(/javascripts/PIE.htc);position:relative;}
.box {behavior: url(/javascripts/PIE.htc);position:relative;}
.roundabout-moveable-item {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader() !important;}
*+html h3 {letter-spacing:-0.05em}
.comments {behavior: url(/javascripts/PIE.htc);}
.navi a {behavior: url(/javascripts/PIE.htc);position:relative;}
.time {behavior: url(/javascripts/PIE.htc);position:relative;}
#contact-form input {behavior: url(/javascripts/PIE.htc);position:relative;}
#contact-form textarea {behavior: url(/javascripts/PIE.htc);position:relative;}
#login-form input {behavior: url(/javascripts/PIE.htc);position:relative;}
