.reprice_status .never_run {
    color: red;
}

.reprice_status .run_date {
    color:#80a407;
}

#update_image:hover, #reprice_all:hover {
    cursor: pointer;
}

.updated_low_price {
    background-color: orange;
}

#update_selected {
    cursor: pointer;
}

input[disabled] {
    background-color: #cccccc;
}

.status_indicator.pending {
    color: #a52a2a;
}
