/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
    display: block;
}

mark, rp, rt, ruby, summary, time {
    display: inline;
}

/* Global properties ======================================================== */
* {
    line-height: 1.5em;
}

html {
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #3f3f3f;
    min-width: 960px;
    background: #303030;
}

#notice-message {
	float:left;
	padding: 5px 14px 0px 0px;
	font-size:12px;
}
.alert {
    color: red;
    font-weight:bold;
    text-size:40px;
}

.notice {
    color: #9acd32;
}

body#page1 {
    min-width: 1240px;
}

.bg {
    background: #fff url('/images/header-tail.png') repeat-x 0 0;
}

.main {
    width: 950px;
    padding: 0;
    margin: 0 auto;
    font-size: 0.75em;
}

a {
    color: #80a407;
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #3f3f3f;
}

.clear {
    clear: both;
    width: 100%;
    line-height: 0;
    font-size: 0;
}

.col-1, .col-2, .col-3, .col-4 {
    float: left;
    width: 265px;
}

.column-1, .column-2, .column-3 {
    float: left;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.extra-wrap {
    overflow: hidden;
}

.container {
    width: 100%;
}

th {
    background-color: gray;
    color: white;
    padding: 2px;
    border: 1px white solid;
}

.even {
    background-color: #EEEEEE;
}

p {
    margin-bottom: 21px;
}

.p {
    margin-bottom: 17px;
}

.p1 {
    margin-bottom: 8px;
    display: block;
}

.p2 {
    margin-bottom: 15px;
}

.p3 {
    margin-bottom: 30px;
}

.p4 {
    margin-bottom: 40px;
}

.p5 {
    margin-bottom: 50px;
}

.reg {
    text-transform: uppercase;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.alignright {
    text-align: right;
}

.aligncenter {
    text-align: center;
}

.it {
    font-style: italic;
}

.letter {
    letter-spacing: -1px;
}

.color-1 {
    color: #fff !important;
}

.color-2 {
    color: #000;
}

.color-3 {
    color: #8c8989;
}

/*********************************boxes**********************************/
.margin-bot {
    margin-bottom: 35px;
}

.spacing {
    margin-right: 34px;
}

.spacing2 {
    margin-right: 45px;
}

.spacing3 {
    margin-right: 60px;
}

.indent-bot {
    margin-bottom: 20px;
}

.indent-bot2 {
    margin-bottom: 35px;
}

.indent-bot3 {
    margin-bottom: 45px;
}

.img-indent-bot {
    margin-bottom: 25px;
}

.img-indent {
    float: left;
    margin: 0 20px 0px 0;
}

.img-indent3 {
    float: left;
    margin: 0 18px 0px 0;
}

.img-indent2 {
    float: left;
    margin: 0 13px -20px -20px;
}

.img-indent-r {
    float: right;
    margin: 0 0px 0px 40px;
}

.img-box {
    float: left;
    margin-bottom: 20px;
}

.prev-indent-bot {
    margin-bottom: 10px;
}

.prev-indent {
    float: left;
    margin: 0 17px 0px 0;
}

.prev-box {
    float: left;
    margin-bottom: 8px;
}

.border {
    border: 3px solid #000;
}

.buttons a:hover {
    cursor: pointer;
}

.list-1 li a,
.list-2 li a,
.link,
.logo {
    text-decoration: none;
}

/*********************************header*************************************/
header {
    background: url('/images/header.jpg') no-repeat 50% 0;
    padding: 26px 0 0;
    max-height: 527px;
}

.logo {
    font-size: 5.833em;
    color: #8cad08 !important;
    display: block;
    float: left;
    line-height: 1.2em;
    letter-spacing: -0.065em;
}

.logo strong {
    color: #383838 !important;
    line-height: 1.2em;
}
.logo-beta {
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

.store {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
    background: #7da207 url('/images/store.png') repeat-x 0 0;
    overflow: hidden;
    padding: 9px 13px 11px 11px;
    min-width: 156px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    margin: 6px 0 0;
    cursor: pointer;
}

.store strong {
    text-transform: none;
    display: block;
    font-size: 2.333em;
    letter-spacing: -0.07em;
    line-height: 1.2em;
    margin-top: -5px;
}

.store img {
    float: left;
    margin-right: 8px;
}

.store:hover {
    background: #151515 url('/images/menu.png') repeat-x 0 0;
    color: #fff;
}

nav {
    font-size: 1.16667em;
    line-height: 3.928em;
    height: 3.928em;
    text-transform: uppercase;
    background: #151515 url('/images/menu.png') repeat-x 0 0;
    position: relative;
    z-index: 411;
    border-radius: 1.4286em;
    -moz-border-radius: 1.4286em;
    -webkit-border-radius: 1.4286em;
}

.pagination {
    float: right;
    font-size: 12px;
    line-height: 12px;
    height: 15px;
    text-transform: uppercase;
    background: white;
    position: relative;
    z-index: 411;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    display: inline-block;
}

.roundabout-holder {
    padding: 0;
    list-style: none;
    height: 485px;
    margin-top: 50px;
}

.roundabout-moveable-item {
    width: 657px;
    height: 480px;
    cursor: pointer;
}

.roundabout-moveable-item img {
    width: 100%;
}

.roundabout-in-focus {
    cursor: auto;
}

.roundabout .pagination {
    background: url('/images/pagination.png') no-repeat 50% 13px;
    text-align: center;
    margin-top: -34px;
    position: relative;
    z-index: 410;
    height: 38px;
}

.roundabout .pagination a {
    display: inline-block;
    background: url('/images/thumb.png') no-repeat 0 0;
    height: 38px;
    width: 17px;
    position: relative;
    margin: 0 1px 0 2px;
}

.roundabout .pagination a:hover, .roundabout .pagination a.current {
    background: url('/images/thumb-hover.png') no-repeat 0 0;
}

.roundabout .pagination a.current {
    cursor: default;
}

/*********************************content*************************************/
#content {
    width: 100%;
    padding: 30px 0px 20px 0px;
    font-size:0.75em;
}

#page1 #content {
    background: #fff url('/images/content-tail.png') repeat-x 0 0;
}

.indent-top {
    height: 149px;
}

a.block {
    display: block;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    background: #fff url('/images/block.png') repeat-x 0 0;
    color: #8c8989;
    border: 1px solid #ecebeb;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 20px 19px 20px 20px;
    font-size: 1.083em;
}

.block {
    display: block;
    overflow: hidden;
    text-decoration: none;
    background: #fff url('/images/block.png') repeat-x 0 0;*/
    color: #8c8989;
    /**border: 1px solid #ecebeb;*/
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 20px 19px 20px 20px;
    font-size: 1em;
}

a.block .number, .block .number {
    float: left;
    background: #7da207 url('/images/number.png') repeat-x 0 0;
    color: #fff;
    font-size: 3.077em;
    line-height: 1.575em;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    min-width: 63px;
    text-align: center;
    margin-right: 12px;
    letter-spacing: -0.1em;
}

a.block .number.highlighted {
    background: #313131 url('/images/number-hover.png') repeat-x 0 0;
}

a.block .number:hover {
    background: #313131 url('/images/number-hover.png') repeat-x 0 0;
}

a.block:hover .number {
    background: #313131 url('/images/number-hover.png') repeat-x 0 0;
}

a.block .title, .block .title {
    font-size: 2.3em;
    color: #c0bebe;
    line-height: 1.2em;
    letter-spacing: -0.05em;
}

a.block strong, .block strong {
    display: block;
    color: #464545;
    margin-bottom: -5px;
    margin-top: -5px;
}

a.block .clear, .block .clear {
    height: 8px;
}

a.block .more {
    background: url('/images/more.png') no-repeat 0 0;
    width: 15px;
    height: 22px;
    float: right;
    margin-top: 8px;
}

a.block:hover .more {
    background: url('/images/more-hover.png') no-repeat 0 0;
}

.spacer-1 {
    width: 100%;
    background: url('/images/pic-1.gif') repeat-y 217px 0;
}

.spacer-2 {
    width: 100%;
    background: url('/images/pic-1.gif') repeat-y 460px 0;
}

h3 {
    font-size: 2.5em;
    margin: 0px 0 5px;
    color: #fff;
    font-weight: normal;
    letter-spacing: -0.035em;
}

h3 strong {
    color: #464545;
}

h3.title {
    font-size: 2.5em;
    margin:0;
    padding:0;
    line-height:1.2em;
    font-weight: normal;
    letter-spacing: -0.035em;
}
h3.subtitle {
    font-size: 2.5em;
    margin:0;
    padding-bottom:20px;
    line-height:1.2em;
    font-weight: normal;
    letter-spacing: -0.035em;
}


h4 {
    font-size: 2.083em;
    color: #c0bebe;
    font-weight: normal;
    margin-top: -20px;
}

h4.title {
	font-size: 20px;
    color:#8cad08;
    font-weight: normal;
    margin:10px 0 30px 0;
}
.scroll {
    overflow: auto;
    height: 180px;
    position: relative;
}

.scroll .padding-right {
    height: 1%;
    padding-right: 50px;
}

.border-bot {
    padding-bottom: 20px;
    background: url('/images/border-bot.png') repeat-x 0 bottom;
    margin-bottom: 20px;
}

.border-bot1 {
    border-bottom: 1px solid #ebebeb;
    padding: 0 0 25px;
    margin: 0 0 20px;
}

.box {
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.box .padding {
    padding: 20px 25px 25px 30px;
}

.box .padding-sides {
    padding: 20px 25px 0px 30px;
}

.box.gray {
    background: #313131 url('/images/box-gray.png') repeat-x 0 0;
    color: #a8a8a8;
}

.box.gray blockquote {
    background: url('/images/blockquote.png') no-repeat 0 0;
    padding: 5px 0 0 0;
}
.box.white blockquote {
	background: url('../images/blockquote-dark.png') no-repeat 0 0;
    padding: 5px 0 0 0;

}
.box.gray blockquote p, .box.white blockquote p {
    text-indent: 33px;
}

.box.gray strong {
    color: #9dba09;
}

.box.gray .link:hover {
    color: #9dba09;
    text-decoration: none;
}

.box.gray .button {
    background: #7ea207 url('/images/button-green.png') repeat-x 0 0;
}

.box.gray .button:hover {
    color: #333232;
}

.box.gray .button:hover span {
    background: url('/images/more-hover.png') no-repeat 0 0;
}

.box.white {
    border: 1px solid #ecebeb;
    background: #fff;
    overflow: hidden;
}

.box.white h3 {
    color: #80a407;
}

.box.white .color {
    color: #333333;
}

.box.green {
    background: #7da207 url('/images/green.png') repeat-x 0 0;
}

.box.green li {
    background: url('/images/marker1.png') no-repeat 0 3px;
    color: #fff;
}

.box.green li strong {
    color: #3f3f3f;
    text-indent: 22px;
}

.box.green .link:hover {
    color: #3f3f3f;
    text-decoration: none;
}

.box .list-1 li {
    background: url('/images/marker1.png') no-repeat 0 4px;
}
.generic-list li {
	background: url('/images/more.png') no-repeat left top;
	font-size:14px;
	font-weight:bold;
	padding:0 0 15px 30px;
}

ul.highimpact-list {
	margin:0;
	padding:0;
}

.highimpact-list li {
	background: url('/images/question.png') no-repeat left top;
	font-size:18px;
	font-weight:bold;
	line-height:22px;
	color:#222;
	padding:3px 0 15px 40px;
}

.highimpact-text {
	padding:10px 0 0px 0;
	font-size: 18px;
    color:#222;
    font-weight: bold;
    line-height:20px;
	letter-spacing:0px;
}

.highimpact-call {
	width:282px;
	height:90px;
	background: url('/images/right-arrow.png') no-repeat left 2px;
}

.highimpact-call a {
	font-size:28px;
	color:#8cad08;
	font-weight:bold;
}
.highimpact-link {
	padding:14px 0 0 75px;
}

.highimpact-callend {
	width:282px;
	height:90px;
	background: url('/images/left-arrow.png') no-repeat right top;
}

.box .list-1 li div {
    background: url('/images/border-bot.png') repeat-x 0 100%;
    padding: 0 0 9px;
    margin: 0 0 8px;
}

.box .list-1 li a {
    padding: 0;
    margin-left: 23px;
    font-weight: bold;
    color: #0b0b0b;
    font-size: 1.083em;
}

.box.gray .list-1 li a {
    color: #9dba09;
}

.box .list-1 li a:hover {
    color: #fff;
}

.exactheight {
    height: 310px;
}

.comments {
    display: inline-block;
    background: #f9f9f9;
    font-size: 1.083em;
    color: #3d3d3d;
    line-height: 2.3077em;
    padding: 0 14px;
    border-radius: 1.25em;
    -moz-border-radius: 1.25em;
    -webkit-border-radius: 1.25em;
    margin: 5px 0 25px 30px;
    position: relative;
}

.comments span {
    position: absolute;
    background: url('/images/comments.png') no-repeat 0 0;
    width: 13px;
    height: 13px;
    bottom: -13px;
    right: 26px;
}

.extra-wrap .comments {
    margin-left: 5px;
}

.time {
    float: left;
    background: url('/images/number-hover.png') repeat-x 0 0;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.3333em;
    color: #fcfcfc;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    min-width: 49px;
    margin-right: 17px;
    letter-spacing: -.1em;
    padding: 0 0 5px;
}

.time strong {
    display: block;
    font-size: 1.875em;
    line-height: 1.2em;
    height: 1em;
}

#faded {
    position: relative;
}

#faded li {
    overflow: hidden;
    background: #fff;
}

.all {
    float: right;
    font-size: 1.083em;
    margin-right: 20px;
    color: #383838;
}

.all:hover {
    color: #a0c411;
}

.navi {
    overflow: hidden
}

.navi .pagination {
    overflow: hidden;
    display: inline-block;
    float: left;
}

.navi .pagination li {
    float: left;
}

.navi a {
    background: url('/images/navi.png') repeat-x 0 0;
    min-width: 25px;
    text-align: center;
    font-size: 1.083em;
    line-height: 1.7692em;
    color: #fff;
    display: block;
    margin: 0 3px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.navi .pagination li.current a, .navi .pagination li a:hover {
    color: #a0c411;
    font-weight: bold;
}

.navi .prev, .navi .next {
    display: inline-block;
    padding: 0 14px;
    float: left;
}

.navi .prev span {
    background: url('/images/prev.gif') no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
    width: 7px;
    height: 6px;
    margin-right: 6px;
}

.navi .next span {
    background: url('/images/next.gif') no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
    width: 7px;
    height: 6px;
    margin-left: 6px;
}

.navi .prev:hover span {
    background: url('/images/prev-hover.gif') no-repeat 0 0;
}

.navi .next:hover span {
    background: url('/images/next-hover.gif') no-repeat 0 0;
}

.navi .prev:hover, .navi .next:hover {
    color: #a0c411;
}

.button {
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-size: 1.833em;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.6818em;
    padding: 0 9px 0 13px;
    background: #313131 url('/images/button.png') repeat-x 0 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.button-blue {
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-size: 1.833em;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.6818em;
    padding: 0 9px 0 13px;
    background: #313131 url('/images/button-blue.png') repeat-x 0 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.button-smaller {
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-size: 1.233em;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.6818em;
    padding: 0 9px 0 13px;
    margin-left: 25px;
    background: #313131 url('/images/button.png') repeat-x 0 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.button span {
    background: url('/images/button-arrow.png') no-repeat 0 0;
    vertical-align: middle;
    height: 22px;
    width: 15px;
    display: inline-block;
    margin-left: 7px;
}

.button:hover, .button-smaller:hover, .button-blue:hover {
    background: url('/images/button-green.png') repeat-x 0 0;
    color: #fff;
}


#reprice-button {
    display:inline-block;
}

.list-1 li {
    padding: 0px;
    vertical-align: top;
    background: url('/images/pic-1.gif') repeat-x 0 bottom;
}

.list-1 li a {
    display: block;
    color: #1799cf;
    padding-left: 12px;
}

.list-1 li a:hover {
    color: #fff;
}

.list-1 li img {
	
}

.connect {
	display:block;
	height:32px;
}

.connect img {
	float:right;
}


.list-1 .last-item {
    background: none;
}

.list-2 li {
    line-height: 22px;
    padding-left: 12px;
    background: url('/images/marker-2.gif') no-repeat 0 8px;
}

.list-2 li a {
    color: #fff;
}

.list-2 li a:hover {
    color: #1799cf;
}

.list-3 {
    list-style: decimal-leading-zero;
}

.list-3 li {
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    padding-bottom: 12px;
    margin-left: 25px;
    list-style-type: decimal-leading-zero;
}

.list-3 li a {
    color: #eda202;
}

.list-3 li a:hover {
    color: #24a3ce;
}

.link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.link span {
    font-size: 0.75em;
    vertical-align: middle;
    font-weight: normal;
}

.link:hover {
    text-decoration: underline;
}

.link-1 {
    display: inline-block;
    background: url('/images/more-hover.png') no-repeat 0 0;
    width: 15px;
    height: 22px;
    float: right;
    margin-top: 10px;
}

.link-1:hover {
    background: url('/images/more.png') no-repeat 0 0;
}

.link-2 {
    color: #2f2f2f;
    font-size: 1.3333em;
    font-weight: bold;
    letter-spacing: -.05em;
    display: inline-block;
    margin-top: 8px;
}

.link-2:hover {
    color: #9dba09;
}

.text-1 {
    font-size: 1.083em;
}

.text-1 img {
    vertical-align: middle;
    margin-right: 9px;
}

.text-2 {
    font-size: 14px;
    line-height: 1.285em;
}

.text-3 {
    font-size: 11px;
    line-height: 1.272em;
}

#map_canvas {
    width: 247px;
    height: 300px;
    margin-bottom: 27px;
}

dl dt {
    font-weight: bold;
}

dl dd {
    color: #fff;
}

dl span {
    float: left;
    width: 69px;
}

dl a {
    color: #3f3f3f;
}

dl a:hover {
    color: #fff;
}

/* Contact form */
#contact_form {
    position: relative;
    vertical-align: top;
    width: 564px;
}

#contact_form fieldset {
    border: none;
    padding: 0;
}

#contact_form input {
    width: 337px;
    height: 2.5em;
    padding: 0px 15px;
    margin: 0;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #e1e1e1;
    font-size: 1em;
    color: #444;
    line-height: 2.5em;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

#contact_form input.checkbox {
	display:inline-block;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0 15px 0 0;
    background: #fff;
    border-width: 0px;
    color: #444;
    line-height: 14px;
    border-radius 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}


#contact_form textarea {
    width: 337px;
    height: 100px;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #e1e1e1;
    padding: 10px 15px;
    margin: 0;
    font-size: 1em;
    color: #444;
    overflow: auto;
    display: block;
    line-height: 1.2em;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

#contact_form a {
    cursor: pointer;
}

#contact_form label {
    display:block;
    padding-top:10px;
}

#contact_form li {
    display:block;
    list-style:none;
    margin:0;
}

.buttons-wrapper {
    text-align: right;
}

.buttons-wrapper a {
    margin-left: 20px;
}

#contact_form .submit-button-wrapper {
    position: relative;
    float: left;
    margin-top:15px;
}

#contact_form .submit-button-wrapper input {
    text-align: left;
    border: 1px;
    width: auto;
    height: 1.6818em;
    font-size: 1.833em;
    line-height: 1.6818em;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 0 15px;
    background: #313131 url('/images/button.png') repeat-x 0 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}


.button span {
    background: url('/images/button-arrow.png') no-repeat 0 0;
    vertical-align: middle;
    height: 22px;
    width: 15px;
    display: inline-block;
    margin-left: 7px;
}

#contact_form .submit-button-wrapper input:hover {
    background: url('/images/button-green.png') repeat-x 0 0;
    color: #fff;
}

/* Login form */
.login {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
    background: #7da207 url('/images/store.png') repeat-x 0 0;
    overflow: hidden;
    padding: 9px 13px 11px 11px;
    min-width: 156px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    margin: 6px 0 0;
}

.field-username span {
    font-weight: bold;
    text-transform: none;
}

#login-form, .login-form {
    position: relative;
    vertical-align: top;
    width: 290px;
}

#login-form fieldset, .login-form fieldset {
    border: none;
    padding: 0;
}

#login-form .social {
	float:right;
	padding-top:5px;
	margin-left:10px;
}

#login-form .social img {
	margin:0 5px;
}


#login-form .field-username, .login-form .field-username {
    min-height: 24px;
    float: left;
    position:absolute;
}

.login-form .fields {
    min-height:24px;
    float:left;
    width:150px;
}


#login-form .field-pass, .login-form .field-pass {
    min-height: 24px;
    float: right;
    padding-left: 110px;
}

#login-form input, .login-form input {
    width: 80px;
    height: 2em;
    padding: 0px 10px;
    margin: 0;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #e1e1e1;
    font-size: 1em;
    color: #444;
    line-height: 2em;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

#login-form input .alert {
	color:red;
}
#login-form.main-contacts .field input, .login-form.main-contacts .field input {
    margin-top: 0px;
}

#login-form .area, .login-form .area {
    min-height: 258px;
}

#login-form textarea, .login-form textarea {
    width: 532px;
    height: 214px;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #e1e1e1;
    padding: 10px 15px;
    margin: 0;
    font-size: 1em;
    color: #444;
    overflow: auto;
    display: block;
    line-height: 1.2em;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

#login-form a, .login-form a {
    cursor: pointer;
}

#login-form label, .login-form label {
    color: #F00;
    overflow: hidden;
}

#login-form strong, .login-form strong {
    padding: 0 0 2px 9px;
    display: inline-block;
    color: #838383;
}

#login-form .error, .login-form .error {
    color: red;
    line-height: normal;
    display: none;
    line-height: 3em;
}

#login-form .area .error, .login-form .area .error {
    line-height: 1.5em;
}

#login-form .login-button {
	float: right;
	border: 0px;
    text-transform: uppercase;
    width: 70px;
    height: 26px;
    cursor: pointer;
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    line-height: 2em;
    background: #313131 url('/images/button.png') repeat-x 0 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

}

#login-form #user_password {
	margin-left:5px;
}

.login-button-wrapper {
    float: right;
}

#login-form .login-button-wrapper input {
    border: 0px;
    text-transform: uppercase;
    width: 70px;
    height: 26px;
    cursor: pointer;
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    line-height: 2em;
    background: #313131 url('/images/button.png') repeat-x 0 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#login-form .login-button-wrapper input:hover, #login-form .login-button-wrapper a:hover {
    color: #9dba09;
}

.login-button-wrapper a {
    margin-left: 20px;
}

.login-button {
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    line-height: 2em;
    padding: 0 15px;
    background: #313131 url('/images/button.png') repeat-x 0 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

/****************************footer************************/
footer {
    width: 100%;
    padding: 32px 0 46px;
    background: url('/images/footer.png') repeat-x 0 0;
    color: #fff;
}

footer a {
    color: #9dba09;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}

footer .fright a {
    margin-left: 10px;
}

.footer-menu {
    overflow: hidden;
}

.footer-menu li {
    float: left;
    margin-right: 16px;
}

.footer-menu li a {
    text-decoration: none;
    color: #8e8e8e;
}

.footer-menu .active a, .footer-menu li a:hover, .footer-menu li a.active {
    color: #fff;
}

/************* line items ********/
.disabled-checkbox {
    cursor: pointer;
}

#social {
	padding:20px 0px 0px 30px;
	display:inline-block;
	float: left;
	width:150px;
}

#error_explanation {
    color: red;
}

#closed_ads {
	color:white;
}

.inline-errors {
	color:red;
}