/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
	line-height:3.928em;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			11em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			3.928em; /* match top ul list item height */
	z-index:		99;
}

/*** DEMO SKIN ***/
.sf-menu {
	height:3.928em;
}
.sf-menu a {
	text-decoration:none;
	font-weight:bold;
	padding:0 20px;
}
.sf-menu ul a {color:#fbfbfb;font-size:.8571em;font-weight:normal;line-height:2.5833em;padding:0 17px;}
.sf-menu ul a:hover {color:#9ebb09;}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#fff;
}
.sf-menu li {background:url("../../images/menu-border.png") 100% 0 no-repeat;}
.sf-menu li.first {border-radius:1.4286em 0 0 1.4286em;-moz-border-radius:1.4286em 0 0 1.4286em;-webkit-border-radius:1.4286em 0 0 1.4286em;
}
.sf-menu li li, .sf-menu ul li:hover {
	background:url("../../images/submenu.png") 0 0 repeat-x #282828;text-transform:none;
}
.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu li.active {
	background:url("../../images/menu-hover.png") 0 0 repeat-x #7da207;
}