<%

   if amazon_listing.reprice_enabled?
       link = amazon_listing_reprice_disable_url(amazon_listing, :secure=>true)
   else
       link = amazon_listing_reprice_enable_url(amazon_listing, :secure=>true)
   end
%>
<%
   if amazon_listing.amazon_account && amazon_listing.amazon_account.reprice?

%>
    <div class="amazon_listing_reprice" id=<%= "amazon_listing_reprice_#{amazon_listing.id}" %>>
      <input class="amazon_listing_checkbox"
             id="amazon_listing_checkbox_<%= amazon_listing.id %>"
             name="amazon_listing_enable"
             <%= amazon_listing.reprice_enabled? ? "checked" : "" %>
             type="checkbox"
             listing_id="<%= amazon_listing.id %>"
             href="<%= link %>"
      />
      <%= tag "input",
              :id=>"low_limit_price_#{amazon_listing.id}",
              :name=>"low_limit_price[#{amazon_listing.id}]",
              :size=>"6",
              :value=>number_with_precision(amazon_listing.amazon_listings_custom_info.try(:low_price_limit), :precision=>2),
              :class=>"low_limit_price",
              :style=>"width:30px;height:14px;padding:0 1px;margin-top:4px;font-size:10px;",
              :title=>"Enter your Minimum Price. This is the price below which you won't sell this item",
              :disabled=>!amazon_listing.reprice_enabled? ? "disabled" : nil
      %>
    </div>
<%
   else
%>

    <div class="disabled disabled-checkbox" title="Please enable global reprice using The Switch in order to reprice individual items">
      <input class="amazon_listing_checkbox disabled"
             type="checkbox" disabled/>
    </div>

<%
   end
%>