<% if current_user.amazon_account %>
    <%= div_for current_user.amazon_account do %>
        <% if current_user.amazon_account.reprice? %>
            <%= link_to image_tag("on.png",
                                  :title=>"Currently ON, click to turn OFF",
                                  :alt=>"Currently ON, click to turn OFF"), amazon_account_reprice_disable_path(current_user.amazon_account), :method=>:post, :remote=>true %>
        <% else %>
            <%= link_to image_tag("off.png", :title=>"Currently OFF, click to turn ON", :alt=>"Currently OFF, click to turn ON"), amazon_account_reprice_enable_path(current_user.amazon_account), :method=>:post, :remote=>true %>
        <% end %>
    <% end %>
<% end %>