<% text = render :partial => 'reprice/amazon_listing_reprice_setting', :locals=>{:amazon_listing=>@amazon_listing} %>

$("#<%="amazon_listing_reprice_#{@amazon_listing.id}"%>").replaceWith("<%= escape_javascript(text)%>");