<% text = render :partial => 'reprice/reprice_setting' %>
$("#<%=dom_id current_user.amazon_account%>").replaceWith("<%= escape_javascript(text)%>");

<% listings = render :partial => 'amazon_listings/listing_table', :locals => {:listings=>@listings} %>
$(".listing_table").html("<%= escape_javascript(listings)%>")
