<article class="grid_12">
  <div class="box white">
    <div class="padding">
      <h3>Change Your Password</h3>

      <div class="wrapper">
        <p>Every now and then you may change your mind and decide to change your password. Simply enter your new
          password on this page to change
          your old one.</p>

        <div class="contact_form">
          <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put, :id => "contact_form"}) do |f| %>
              <%= f.hidden_field :reset_password_token %>
              <div class="field">
                <label>New Password*</label>
                <%= f.password_field :password, :class => "validate[required]", :id=>"new_user_password" %>
              </div>
              <div class="field">
                <label>Confirm New Password*</label>
                <%= f.password_field :password_confirmation, :class => "validate[required,equals[new_user_password]]" %>
              </div>
              <div class="submit-button-wrapper">
                <%= f.submit "Submit", :id=>"submit", :class=>"button" %>
              </div>
          <% end %>
        </div>
      </div>
      <div class="wrapper">
        <%= devise_error_messages! %>
      </div>
    </div>
  </div>
</article>
<script>
    $("#contact_form").validationEngine();
</script>

<%= render :partial=>"shared/generic_side" %>
