<article class="grid_12">
<div class="box white">
  <div class="padding">
	<h3>Forgot Your Password?</h3>
	<div class="wrapper">
	<p>Everything can happen. Even forgetting your password. Simply enter your account email address and we will send you a link to reset it.</p>
	<div class="contact_form">
	  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post, :id=>"contact_form"} ) do |f| %>
	      <div class="field">
	      <label>Email*</label>
			<%= f.email_field :email, :class => "validate[required,custom[email]]" %>
	      </div>
	      <div class="submit-button-wrapper">
		 	<%= f.submit "Submit" , :id=>"submit", :class=>"button"  %>
	      </div>
	  <% end %>
	</div>
    </div>
    <div class="wrapper">
      <%= devise_error_messages! %>

    </div>
  </div>
</div>
</article>
<script>
    $("#contact_form").validationEngine();
</script>

<%= render :partial=>"shared/generic_side" %>