<footer>
    <div class="main">
    	<div class="fright">
        	<span style="margin-right:180px;">Hosted by<%= link_to "Revion.com", "http://www.revion.com", :title=>"Hosted by Revion.com", :target=>'_blank' %></span>Profit Engine Team &nbsp;&copy; <%=Time.now.year%> <%= link_to "Privacy Policy", privacy_index_path, :title=>'Privacy Policy', :alt=>'Privacy Policy' %>
        </div>
    	<ul class="footer-menu">
		  <li class="first <%= get_active_url_css(check_if_current_url_same_as('/') || check_if_current_url_starts_with('/home')) %>">
	        <%= link_to "Home", home_index_path, :title=>'Home', :alt=>'Home' %>
	      </li>
	       <% if user_signed_in? %>
	          <li class="<%= get_active_url_css(check_if_current_url_starts_with('/amazon_account')) %>">
	            <%= link_to "Account", amazon_accounts_path, :title=>'Account Settings', :alt=>'Account Settings' %>
	          </li>
	          <li class="<%= get_active_url_css(check_if_current_url_starts_with('/amazon_listings')) %>">
	            <%= link_to "Inventory", amazon_listings_path, :title=>'Your Listings', :alt=>'Your Listings' %>
	          </li>
	      <% else %>
	      	  <li class="<%= get_active_url_css(check_if_current_url_same_as('/how_it_works')) %>">
		        <%= link_to "How It Works", how_it_works_path, :title=>'How It Works', :alt=>'How It Works' %>
		      </li>
	          <li class="<%= get_active_url_css(check_if_current_url_same_as('/users/sign_up')) %>">
	            <%= link_to "Sign Up", new_user_registration_url, :title=>'Sign Up', :alt=>'Sign Up' %>
	          </li>
	          <li class="<%= get_active_url_css(check_if_current_url_starts_with('/users/sign_in')) %>">
	            <%= link_to "Log In", user_session_path, :title=>'Log In', :alt=>'Log In' %>
	          </li>
	      <% end %>
	
	      <li class="<%= get_active_url_css(check_if_current_url_starts_with('/about')) %>">
	        <%= link_to "About", about_index_path, :title=>'About Us', :alt=>'About Us' %>
	      </li>
	      <li class="<%= get_active_url_css(check_if_current_url_starts_with('/contact')) %>">
	        <%= link_to "Contacts", contact_index_path, :title=>'Contact Us', :alt=>'Contact Us' %>
	      </li>
        </ul>
    </div>
  <%#= render :partial => 'mobile' %>
</footer>