<!--==============================user menu================================-->
<article class="grid_12">
    <div class="box gray">
        <div class="padding">
            <h3>Additional Options</h3>
            <ul class="list-1">
               <li><div class="connect"><%= link_to "Forgot your password?", new_password_url(resource_name) %></div></li>
 		       <li><div class="connect"><%= link_to image_tag("login/facebook_32.png", :alt=>"Facebook Connect"), user_omniauth_authorize_path(:facebook) %><%= link_to "Sign up with Facebook", user_omniauth_authorize_path(:facebook) %></div></li>
 		       <li><div class="connect"><%= link_to image_tag("login/google_32.png", :alt=>"Google Connect"), user_omniauth_authorize_path(:google_apps) %><%= link_to "Sign up with Google", user_omniauth_authorize_path(:google_apps) %></div></li>
            </ul>
        </div>
    </div>
</article>
