<div class="main">
  <div class="wrapper p">
    <a class="logo" href="<%= root_url %>"><img src="/images/profit-engine.png"></a><span class="logo-beta">beta</span>

    <div class="login">

      <% if !user_signed_in? %>
          <div class="extra-wrap">
            Login Here
            <%= form_for(User.new, :url => session_path(User), :html => {:id => 'login-form'}) do |f| %>
                <fieldset>
                  <div class="fields">
                    <%= f.email_field :email, :class => "validate[required,custom[email]]", :onfocus => "defaultText(this, 'Email:', true)", :onblur => "defaultText(this, 'Email:', true)", :value => "Email:" %>
                    <%= f.password_field :password, :class => "validate[required]", :onfocus => "defaultText(this, 'Password:', false)", :onblur => "defaultText(this, '', false)", :value => "Password:" %>

                    <%= f.submit "Login", :id=>"submit", :class => "login-button" %>

                  </div>
                </fieldset>
                <div class="social">or login with &nbsp;&nbsp;
                  <%= link_to image_tag("login/facebook_32.png", :title=>"Facebook Connect", :size=>"20x20"), user_omniauth_authorize_path(:facebook) %>
                  <%= link_to image_tag("login/google_32.png", :title=>"Google Connect", :size=>"20x20"), user_omniauth_authorize_path(:google_apps) %>

                </div>
            <% end %>
          </div>
      <% else %>
          <div class="extra-wrap">Logged in as
            <form action="" method="post" id="login-form">

              <fieldset>

                <div class="field-username">
                  <span><%= current_user.email %></span>
                </div>
                <div class="field-pass" style="left: 0px; top: 0px; width: 80px">

                </div>
                <div class="login-button-wrapper">
                  <%= link_to('Log out', destroy_user_session_path, :id=>"submit", :class=>"login-button") %>
                </div>

              </fieldset>
            </form>
          </div>
      <% end %>
    </div>
  </div>
  <!--==============================navigation=================================-->
  <nav>
    <ul class="sf-menu">

      <li class="first <%= get_active_url_css(check_if_current_url_same_as('/') || check_if_current_url_starts_with('/home')) %>">
        <%= link_to "Home", home_index_path, :title=>'Home', :alt=>'Home' %>
      </li>
      <% if user_signed_in? %>
          <li class="<%= get_active_url_css(check_if_current_url_starts_with('/amazon_account')) %>">
            <%= link_to "Account", amazon_accounts_path, :title=>'Account Settings', :alt=>'Account Settings' %>
          </li>
          <li class="<%= get_active_url_css(check_if_current_url_starts_with('/amazon_listings')) %>">
            <%= link_to "Inventory", amazon_listings_path, :title=>'Your Listings', :alt=>'Your Listings' %>
          </li>
      <% else %>
          <li class="<%= get_active_url_css(check_if_current_url_same_as('/how_it_works')) %>">
            <%= link_to "How It Works", how_it_works_path, :title=>'How It Works', :alt=>'How It Works' %>
          </li>
          <li class="<%= get_active_url_css(check_if_current_url_same_as('/users/sign_up')) %>">
            <%= link_to "Sign Up", new_user_registration_url, :title=>'Sign Up', :alt=>'Sign Up' %>
          </li>
          <% unless check_if_current_url_same_as('/') || check_if_current_url_starts_with('/home') %>
              <li class="<%= get_active_url_css(check_if_current_url_starts_with('/users/sign_in')) %>">
                <%= link_to "Log In", user_session_path, :title=>'Log In', :alt=>'Log In' %>
              </li>
          <% end %>
      <% end %>

      <li class="<%= get_active_url_css(check_if_current_url_starts_with('/about')) %>">
        <%= link_to "About", about_index_path, :title=>'About Us', :alt=>'About Us' %>
      </li>
      <li class="<%= get_active_url_css(check_if_current_url_starts_with('/contact')) %>">
        <%= link_to "Contacts", contact_index_path, :title=>'Contact Us', :alt=>'Contact Us' %>
      </li>
    </ul>
  </nav>

</div>

<% content_for :deferred_js do %>
    <%= javascript_include_tag "seatholder.min" %>
<% end %>