<% if !user_signed_in? %>

    <div class="extra-wrap">
      Login Here
      <%= form_for(User.new, :url => session_path(User), :html => {:id => 'login-form'}) do |f| %>
          <fieldset>
            <div class="field-username">
              <%= f.email_field :email, :class => 'text-input', :default=>"Email:", :onFocus=>"if(this.value=='Email:'){this.value=''}", :onBlur=>"if(this.value==''){this.value='Email:'}", :style=>"left: 0px; top: 0px; width: 80px", :value => 'Email:', :type=> 'text' %>
            </div>
            <div class="field-pass">
              <%= f.password_field :password, :class => 'password-input', :default=>"Password:", :onFocus=>"this.type='password';if(this.value=='Password:'){this.value=''}", :onBlur=>"if(this.value==''){this.type='text';this.value='Password:'}", :style=>"left: 0px; top: 0px; width: 80px", :value => 'Password:', :type=>'text' %>
            </div>
            <div class="login-button-wrapper">
              <%= link_to 'Login', "#", :id=>"submit", :class=>"login-button", :onclick=>"jQuery('#login-form').submit(); return false;" %>
            </div>

          </fieldset>
      <% end %>
    </div>

<% else %>
    <div class="extra-wrap">Logged in as
      <form action="" method="post" id="login-form">

        <fieldset>

          <div class="field-username">
            <span><%= current_user.email %></span>
          </div>
          <div class="field-pass" style="left: 0px; top: 0px; width: 80px">

          </div>
          <div class="login-button-wrapper">
            <%= link_to('Log out', destroy_user_session_path, :id=>"submit", :class=>"login-button") %>
          </div>

        </fieldset>
      </form>
    </div>
<% end %>