<!--==============================user menu================================-->
<article class="grid_5">
    <div class="box green maxheight">
        <div class="padding">
            <h3>Features</h3>
            <ul class="list-1">
            	<li><div><%= link_to "Inventory", amazon_listings_url(:secure=>true) %></div></li>
            	<li><div><%= link_to "Account", amazon_accounts_url(:secure=>true) %></div></li>
            	<li><%= link_to('Log Out', destroy_user_session_url(:secure=>true)) %></li>
            </ul>
        </div>
    </div>
</article>
