<div class="container_24 extra-wrap indent-bot">
  <article class="grid_12">
    <div class="box white maxheight">
      <div class="padding">
        <h3 class="title">Increase Your Sales</h3>
        <h3 class="subtitle">On Amazon Marketplace</h3>
            <ul class="highimpact-list">
	      	    <li>Are you a seller on <img alt="Amazon Marketplace" src="/images/amazon-logo.png" style="width:62px;height:20px;position:relative;top:6px;"> Marketplace?</li>
          		<li>Do you lose sales because your competitors constantly mark down their prices just below yours?</li>
				<li>Do you wish to outsell them and make bigger profits?</li>
        	</ul>

            <p class="highimpact-text">Search no further! </p>
			<div style="margin-left:60px;">
			<div class="highimpact-call"><div class="highimpact-callend"><div class="highimpact-link"><a href="<%= new_user_registration_url %>" alt="Start Here" title="Start Here">Start Here</a><div></div></div></div>
			</div>
      </div>
    </div>
  </article>

  <article class="grid_12">
    <div class="box white maxheight">
      <div class="padding">
        <h3>What People Say About Us</h3>

        <div class="border-bot">
          <blockquote>
            <p class="p1">I was selling 6 to 10 products a
              day. First day I started using Profit Engine,
              I made 80 sales. That&#39;s 1000% increase!</p>
            <strong>Lenny</strong></blockquote>
        </div>
        <div class="border-bot">
          <blockquote>
            <p class="p1">Excellent little tool. Remarkably
              easy to use and producing outstanding results. With the unique 
			automated pricing algorithms of ProfitEngine you WILL beat the 
			competition!</p>
            <strong>Jennifer</strong></blockquote>
        </div>
        <div>
          <blockquote>
            <p class="p1">
              It works fast! My iPad was on sale for a long time but wasn't selling.
              Many sellers sold the same item, and every time I lowered my price, they
              would undercut it. I heard about Profit Engine and how it helps you reprice
              your items automatically. Setup was a breeze. I put in my minimum price,
              and let it do it's magic. The iPad sold in an hour for just a few cents
              lower then my original price. Very easy and super useful!.
            </p>
            <strong>Tom</strong></blockquote>
        </div>

      </div>
    </div>
  </article>


</div>
