<article class="grid_12">
  <div class="box white">
    <div class="padding">
      <h3>Log In</h3>

      <div class="wrapper">
        <p>If you already have an account, please log in below to access it.</p>

        <div class="contact_form">
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name, :secure=>true), :html => { :id=>"contact_form" }) do |f| %>
              <div class="field">
                <label>Email*</label>
                <%= f.email_field :email, :class => "validate[required,custom[email]]"%>
              </div>
              <div class="field">
                <label>Password*</label>
                <%= f.password_field :password, :class => "validate[required]" %>
              </div>
              <div class="submit-button-wrapper">
                <%= f.submit "Login", :id=>"submit", :class=>"button" %>
              </div>
          <% end %>
        </div>
      </div>
      <%#= link_to image_tag("login/facebook.png", :alt=>"Facebook Connect"), user_omniauth_authorize_path(:facebook) %>
      <%#= link_to image_tag("login/google.png", :alt=>"Google Connect"), user_omniauth_authorize_path(:google_apps) %>
      <%#= link_to image_tag("login/linkedin.png", :alt=>"LinkedIn Connect"), user_omniauth_authorize_path(:linked_in) %>
      <div class="wrapper">
        <%= devise_error_messages! %>
		<% if (!notice.blank? or !alert.blank?) then %>
          <div id="notice-message">
            <% if (!notice.blank?) then %>
                <p class="notice"><%= notice %></p>
            <% end %>
            <% if (!alert.blank?) then %>
                <p class="alert"><%= alert %></p>
            <% end %>
          </div>
      	<% end %>
      </div>
    </div>
  </div>
</article>
<script>
    $("#contact_form").validationEngine();
</script>

<%= render :partial=>"shared/generic_side" %>

<% content_for :deferred_js do %>
    <%= javascript_include_tag "seatholder.min" %>
<% end %>