<!DOCTYPE html>
<html>
<head>
  <title>Profit Engine - mobile</title>
  <%= stylesheet_link_tag "mobile/style" %>
  <%= stylesheet_link_tag "mobile/reset" %>
  <%= stylesheet_link_tag "mobile/grid" %>

  <%= javascript_include_tag :defaults %>

  <!--<link href="http://jeromeetienne.github.com/jquery-mobile-960/css/jquery-mobile-960.min.css"/>-->

  <%= yield :head_include %>

  <!--[if lt IE 9]>
  <script type="text/javascript" src="/javascripts/html5.js"></script>
  <link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen">
  <![endif]-->
  <script>
      $ = jQuery.noConflict();
  </script>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="bg">
  <!--==============================header=================================-->
  <header>
    <%#= render :partial=>"shared/header" %>
  </header>
  <!--==============================content================================-->
  <section id="content">
    <div class="container_24 extra-wrap indent-bot">
      <% if (!notice.blank? or !alert.blank?) then %>
          <article class="grid_24 margin-bot">
            <div class="box white">
              <div class="padding-sides">
                <% if (!notice.blank?) then %>
                    <p class="notice"><%= notice %></p>
                <% end %>
                <% if (!alert.blank?) then %>
                    <p class="alert"><%= alert %></p>
                <% end %>
              </div>
            </div>
          </article>
      <% end %>

      <%= yield %>

    </div>
  </section>
</div>

<%= render :partial=>"shared/mobile" %>
<%= yield :deferred_js %>

<noscript>
  <style type="text/css">
      .noscriptmsg {
          background-color: #AE0000;
          color: #f5deb3;
          font-family: sans-serif;
          left: 0;
          padding: 5px 0;
          position: fixed;
          text-align: center;
          top: 0;
          width: 100%;
          z-index: 101;
          font-size: 80%;
      }
  </style>
  <div class="noscriptmsg">
    You do not have javascript enabled. Some features of the website will not work
  </div>
</noscript>

</body>
</html>
