
<%= javascript_include_tag "jquery.zclip" %>
<article class="grid_24">
  <div class="box white">
    <article class="grid_24 alpha">
      <div class="padding">
        
        <article class="grid_8">
          <div class="block exactheight">
            <div class="number">01</div>
            <div class="extra-wrap title">
              <strong>Log In</strong>To Amazon
            </div>
            <div class="clear"></div>
            <div class="extra-wrap">
              <p>Login to Amazon with your seller account and follow
                <%= link_to "this link",
                            "https://sellercentral.amazon.com/gp/mws/registration/register.html?applicationName=#{APPLICATION_NAME}&appDevMWSAccountId=#{MWS_DEV_ID}",
                            :method =>:post,
                            :id     =>"amazon_link",
                            :target => "_blank",
                            :alt    => "https://sellercentral.amazon.com/gp/mws/registration/register.html",
                            :title  => "https://sellercentral.amazon.com/gp/mws/registration/register.html" %>
                <a id="copy_link" title="Copy to clipboard">
                  <%= image_tag "clipboard.png", :alt => "Copy to clipboard", :title => "Copy to clipboard" %></a>

                to authorize Profit Engine to access your account.</p>

              <p>Check where it says
                <em>"I want to use an application to access my Amazon seller account with MWS."</em></p>

              <p>Type in the following information:
                <br>
                <em>Application Name:</em>
								    <span style="color:#80a407;">
									<b id="profit_engine_name"><%= APPLICATION_NAME %></b></span>
                <a id="copy_name" title="Copy to clipboard">
                  <%= image_tag "clipboard.png", :alt => "Copy to clipboard", :title => "Copy to clipboard" %></a>
                <br>
                <em>Application's Developer Account Number:</em><br>
									<span style="color:#80a407;">
									<b id="profit_engine_id"><%= MWS_DEV_ID %></b></span>
                <a id="copy_number" title="Copy to clipboard">
                  <%= image_tag "clipboard.png", :alt => "Copy to clipboard", :title => "Copy to clipboard" %></a>
              </p>
              <a class="button-smaller" id="single_image" href="/images/mws/step1.png">Click to see a snapshot</a>
            </div>
          </div>
        </article>
        <article class="grid_7">
          <div class="block exactheight">
            <div class="number">02</div>
            <div class="extra-wrap title">
              <strong>Confirm</strong>Your Details
            </div>
            <div class="clear"></div>
            <div class="extra-wrap"><p>Agree to Amazon's service agreement.</p>

              <p>Record your Amazon:<br>
                <b>Merchant ID</b><br>
                <b>Marketplace ID</b></p>
              <a class="button-smaller" style="margin-top:111px;" id="single_image" href="/images/mws/step2.png">Click
                to see a snapshot</a>
            </div>
          </div>
        </article>
        <article class="grid_7">
          <div class="block exactheight">
            <div class="number">03</div>
            <div class="extra-wrap title">
              <strong>Set Up</strong>Profit Engine
            </div>
            <div class="clear"></div>
            <div class="extra-wrap">
              <p>Log into your Profit Engine account and click on <%= link_to "account", new_amazon_account_path %>
                tab.</p>

              <p>Type in the Amazon IDs that you recorded:<br>
                <b>Merchant ID</b><br>
                <b>Marketplace ID</b></p>
              <a class="button-smaller" style="margin-top:93px;" id="single_image" href="/images/mws/step3.png">Click to
                see a snapshot</a>
            </div>
          </div>
        </article>
      </div>
    </article>
    &nbsp;<br>&nbsp;<br>
  </div>
</article>

<script type="text/javascript">

    $(document).ready(function() {
        $('#copy_link').zclip({
            path:'javascripts/ZeroClipboard.swf',
            copy:function() {
                return $('#amazon_link').attr('href');

            }
        });
        $('#copy_number').zclip({
            path:'javascripts/ZeroClipboard.swf',
            copy:function() {
                return $('#profit_engine_id').text();
            }
        });
        $('#copy_name').zclip({
            path:'javascripts/ZeroClipboard.swf',
            copy:function() {
                return $('#profit_engine_name').text();
            }
        });

        $("a#single_image").fancybox();

        $("a#inline").fancybox({
            'hideOnContentClick': true
        });
    });

</script>
