
	<article class="grid_12 indent-bot">
	  <a class="block" href="<%=new_user_registration_url%>">
	    <div class="number">01</div>
	    <div class="extra-wrap title">
	      <strong>Sign Up</strong><span style="font-size:24px;">For Profit Engine</span>
	    </div>
	    <div class="clear"></div>
	    <div class="more"></div>
	    <div class="extra-wrap">Fill out this simple form to create
	      your account today. It is quick and easy.
	    </div>
	  </a>
	</article>
	<article class="grid_12 indent-bot">
	  <a class="block" href="<%=new_user_registration_url%>">
	    <div class="number">02</div>
	    <div class="extra-wrap title">
	      <strong>Set Up</strong><span style="font-size:24px;">Your Account</span>
	    </div>
	    <div class="clear"></div>
	    <div class="more"></div>
	    <div class="extra-wrap">Link your Amazon Marketplace seller's account<br>
	      to your Profit Engine account.
	    </div>
	  </a>
	</article>
	<article class="grid_12">
	  <a class="block" href="<%=new_user_session_url%>">
	    <div class="number">03</div>
	    <div class="extra-wrap title">
	      <strong>Log In</strong><span style="font-size:24px;">To Maximise Profit</span>
	    </div>
	    <div class="clear"></div>
	    <div class="more"></div>
	    <div class="extra-wrap">Simply log in to your Profit Engine account<br>and maximize
	      your profit with a few clicks.
	    </div>
	  </a>
	</article>