<tr class="amazon_listing <%= cycle('', 'even') %>" id="amazon_listing_<%= h amazon_listing.listing_id %>">
  <%= render :partial => 'amazon_listings/listing_details', :locals => {:amazon_listing=>amazon_listing} %>
</tr>