<article class="grid_24">
  <div class="padding">
    <h3>Your Inventory</h3>
    <article class="grid_22">
    <p>This is your Amazon Inventory/Control Panel page. Use your Switch to turn Profit Engine ON or OFF. 
	When Profit Engine is ON, it automatically reprices the selected items from 
	your inventory. You can always configure individual items to be included/excluded from the reprice by checking them on/off in the list below.</p>
	</article>
	<article class="grid_11 alpha indent-bot">
      <div id="reprice-button">
		  ON/OFF Switch
        <% unless current_user.amazon_account.reprice? %>
            <%= image_tag "/images/icons/help.png",
                          :class=>"tooltip",
                          :title=>"The Switch must be ON in order for ProfitEngine to work its magic.<br>Turn it OFF to disable automatic repricing." %>
        <% end %>
        <%= render :partial => 'reprice/reprice_setting' %>
      </div>
    </article>
    <article class="grid_11 omega reprice_status">
      <div id="inventory-button">
        Last inventory update:
        <% if current_user.amazon_account.get_inventory %>
            <span class="status_indicator pending">SYNC IN PROGRESS</span>
            <%= image_tag "/images/icons/help.png",
                          :class=>"tooltip",
                          :title=>"We are in process of synchronizing your inventory from Amazon into ProfitEngine" %>
        <% elsif current_user.amazon_account.get_inventory_last_run.nil? %>
            <span class="never_run">NEVER</span>
            <%= image_tag "/images/inventory/update.png",
                          :class=>"tooltip",
                          "data-refresh-url"=>amazon_account_refresh_path(current_user.amazon_account),
                          :id=>"update_image",
                          :title=>"Looks like we did not update your inventory yet." %>
        <% else %>
            <span class="run_date"><%= I18n.l(current_user.amazon_account.get_inventory_last_run, :format=>:long) %></span>
        <% end %>
      </div>
    </article>
    <article class="grid_11 omega reprice_status">
      <div>Last reprice run:
        <% if current_user.amazon_account.reprice_last_run.nil? %>
            <span class="never_run">NEVER</span>
            <%= image_tag "/images/icons/help.png",
                          :class=>"tooltip",
                          :title=>"Looks like reprice has not run for your account yet. Did you turn the Switch ON?" %>
        <% else %>
            <span class="run_date"><%= I18n.l(current_user.amazon_account.reprice_last_run, :format=>:long) %></span>
        <% end %>
      </div>
    </article>
    <article class="grid_17 alpha listing_table">
      <% if @amazon_listings.present? %>
          <%= semantic_form_for :search, :url=>amazon_listings_url, :html=>{:method=>:get} do |f| %>
              <% f.inputs do %>
                  <%= f.input :query, :label=>"Search by product or SKU",
                              :required=>false
                  %>
                  <%= f.submit "Search" %>
              <% end %>
          <% end %>
          <%= render :partial=>"listing_table", :locals => {:listings=>@amazon_listings} %>
          <%= semantic_form_for :listings, :url=>amazon_listings_url, :html=>{:method=>:get} do |f| %>
              <% f.inputs do %>
                  <%= f.input :per_page,
                              :required=>false,
                              :as=>:select,
                              :selected=>@per_page,
                              :collection=>[10, 20, 50, 100, "all"] %>
                  <%= f.submit "Filter" %>
              <% end %>
              <a id="update_selected">Update selected</a>
          <% end %>
      <% end %>
    </article>
  </div>
</article>
