   <article class="grid_24">
    <div class="box white maxheight">
      <div class="padding">
      <h3>You Are Almost There</h3>
      <p>This is your ON/OFF Switch for Profit Engine. Go ahead, click it to 
	  initialize your inventory. 
	  <br>Don't worry, nothing will be changed in your Amazon account. You will enable repricing later on.</p>
		<%= link_to (image_tag "off.png",
                       :class=>"tooltip",
                       :id=>"update_image",
                       :title=>"Looks like we did not update your inventory yet."), amazon_account_refresh_path(current_user.amazon_account) %>

      </div>
    </div>
  </article>
