<div id="amazon_listing_<%= h amazon_listing.listing_id %>">

  <td><%= h amazon_listing.item_name %></td>

  <td class="alignleft" style="padding:0px 5px"><%= h amazon_listing.sku %></td>
  <td class="aligncenter" style="padding:0px 5px"><%= h amazon_listing.asin1 %></td>
  <td class="aligncenter" style="padding:0px 5px;font-size:11px;"><%= h I18n.l(amazon_listing.open_date, :format=>:long) %></td>
  <td class="alignright" style="padding:0px 5px"><%= h number_with_delimiter(amazon_listing.quantity) %></td>
  <td class="alignleft"  style="padding:0px 5px;font-size:11px;"><%= h amazon_listing.item_condition_verbose %></td>
  <td class="alignright" style="padding:0px 5px"><%= h number_to_currency(amazon_listing.price) %></td>

  <td class="alignright" style="padding:0px 5px"><%= h number_to_currency(amazon_listing.lowest_new_price) %></td>
  <td class="alignright" style="padding:0px 5px"><%= h number_to_currency(amazon_listing.lowest_used_price) %></td>
  <td class="alignright" style="padding:0px 5px"><%= h number_to_currency(amazon_listing.lowest_collectable_price) %></td>
  <td class="alignright" style="padding:0px 5px"><%= h number_to_currency(amazon_listing.lowest_refurbished_price) %></td>
  
  <td class="aligncenter" style="padding:0px 5px">
    <%= render :partial => 'reprice/amazon_listing_reprice_setting', :locals => {:amazon_listing=>amazon_listing} %>
  </td>
</div>