<div class="grid_22">
<% count = 0; %>
<%= paginate(listings, :params=>{:controller=>:amazon_listings, :action=>:index}) %>
</div>
<table class="grid_22" id="listing_items">
  <tbody>
  <tr>

    <th>Product</th>
    <th>SKU</th>
    <th>ASIN</th>
    <th>Created</th>
    <th>Quantity</th>
    <th>Condition</th>
    <th>Your Price</th>
    <th>Lowest New Price</th>
    <th>Lowest Used Price</th>
    <th>Lowest Collectible Price</th>
    <th>Lowest Refurbished Price</th>
    <th width="90">
    	Reprice <%= image_tag "/images/icons/help.png",
                            :class=>"tooltip",
                            :title=>"Use this option to enable reprice of individual items" %>
                            <br>
      <label for="reprice_all" style="font-size:9px;line-height:18px;cursor:pointer;" class="tooltip" title="Click this to toggle selection of all items">
        [select all]
        <input type="checkbox" id="reprice_all"  style="height:12px;">
      </label>
      
    </th>
  </tr>
  </tbody>
  <tbody>
  <%= render listings %>
  </tbody>
</table>
<br>&nbsp;<br>