<%= stylesheet_link_tag "listing" %>
<%= stylesheet_link_tag "tipTip" %>
<%= javascript_include_tag "jquery.tipTip" %>
<%= javascript_include_tag "listings" %>
<%= javascript_include_tag "jquery.validationEngine" %>
<%= javascript_include_tag "jquery.validationEngine-en" %>

<% #TODO: deal with the case where inventory ran out later %>
<div class="container_24 extra-wrap indent-bot">

<% if @amazon_account and !@amazon_account.get_inventory? and !@amazon_account.get_inventory_last_run? %>

    <%= render :partial=>"inventory_call_to_action" %>
<% else %>
    <!--==============================amazon_listings================================-->
    <article class="grid_24">
      <div class="box white maxheight">

        <% if current_user.amazon_account.nil? %>
            <p>Looks like you did not connect your amazon account.
              <br/>Don't miss out on the opportunity to increase your
              profitability <%= link_to "connect your account", new_amazon_account_path %>
        <% else %>
            <%= render :partial=>"inventory_present" %>
        <% end %>
      </div>
    </article>
<% end %>

</div>