<article class="grid_12">
<div class="box white maxheight">
	<div class="padding">
		<h3>About Profit Engine</h3>
		<div class="wrapper">
			<figure class="img-indent-r"><img src="/images/profit-up.png"></figure>
			<div>
				<p class="p1"><strong>ProfitEngine</strong> is a profit maximizer tool for sales on Amazon.com. 
				</p>
				<div class="color">
					<p><strong>ProfitEngine</strong> works by continuously monitoring your Amazon account and updating your product prices, in this way giving you an instant advantage over all your competitors. It includes an easy to use interface that allows you to manage key aspects of your inventory in a very 
									straightforward way. 
</p>
					<h5>It's very easy to get started:</h5>
					<p>1. Create an account with Profit Engine. <%= link_to "Start Here", new_user_registration_path, :title=>'Start Here', :alt=>'Start Here' %>.
					<br>2. Once you log in, you will be able to link your Amazon account to your Profit Engine account.
									<br>3. As soon as you do this, you will be able to see your Amazon inventory and will be able to customize your selling preferences for indivial or all items.
					<br>4. After you are done, you flip a switch to turn ProfitEngine on and off you go - you start raking in bigger profits than before.
					</p>
					<a class="button" href="<%=new_user_registration_url%>">Sign Up Today! <span></span></a>
				</div>
			</div>
		</div>
	</div>
</div>
</article>
<article class="grid_12">
<div class="box gray prev-indent-bot">
	<div class="padding">
		<h3>Some Questions Answered</h3>
		<p>You probably already have a headfull of questions by now. 
                        Here are some answers to get you started. For anything that we didn't cover below, 
                        please feel free to  <%= link_to "contact us", contact_index_path, :title=>'email us', :alt=>'email us' %>.</p>
		<p><strong class="color-1">What happens if everyone starts using ProfitEngine? 
						Won&#39;t that bring competing prices down to $0? When can 
						we expect your free stuff to show up on Amazon then?</strong><br>ProfitEngine promotes competition among sellers which 
						naturally benefits the customers. Yes, prices will go 
						down but they will only go down to the lowest level set 
						by the individual sellers which is unlikely to be $0. 
						Actually, currently there are more than 79 million 
						active user accounts on Amazon. If all of them sign up 
						and start using ProfitEngine we will be glad to send our 
						stuff for free right then. &nbsp; </p>
		<p><strong class="color-1">If ProfitEngine is so good at maximizing profits, why 
						aren&#39;t you keeping it for yourself, but instead you are 
						offering it for everyone to use? </strong><br>We are. We have 
						been using it successfully for several years now. So 
						have our friends. Now you can too. &nbsp; </p>
		<p><strong class="color-1">What happens if I set a negative lowest price for my 
						products?</strong> <br>Not sure what Amazon policy on negative 
						prices is but you may end up having to pay your 
						customers for buying your products. &nbsp; </p>
		<p><strong class="color-1">Do you get a part of my increased profits?</strong><br>No. We 
						only charge for our service. We have no idea what you 
						are selling or how you are selling it. &nbsp; </p>
		<p><strong class="color-1">This looks like a cool tool but it would be cooler if 
						it was free. Any thoughts on that? </strong><br>A free version of 
						the tool already exists and you already have it. It&#39;s 
						called &#39;You&#39; and it&#39;s only reprice option is &#39;Manual 
						update by guessing what the lowest price is&#39; </p>
	</div>
</div>
</article>

    
