<div class="container_24 extra-wrap indent-bot">
  <article class="grid_12">
    <div class="box white maxheight">
      <div class="padding">
        <h3>Get in Touch</h3>

        <div>
          <%= semantic_form_for :contact, :url=>"/contact", :method=>:post, :html=>{:id=>"contact_form"} do |form| %>
              <%= form.input :name,
                             :label=>"Name",
                             :input_html=>{:class=>"validate[required]"} %>
              <%= form.input :email,
                             :label=>"Email",
                             :input_html=>{:class=>"validate[required,custom[email]]",
                                           :value=> current_user ? current_user.email : ""} %>
              <%= form.input :message,
                             :label=>"Message",
                             :as=>:text,
                             :input_html=>{:class=>"validate[required]"} %>
              <br>
                  <div class="submit-button-wrapper">
                   <input data-disable-with="Sending..." id="contact_submit" name="commit" type="submit" value="Send Message">
                  </div>
             <br>&nbsp;<br>

          <% end %>
        </div>
      </div>
    </div>
  </article>

  <article class="grid_12">
    <div class="box green maxheight">
      <div class="padding">
        <h3>Contact Us</h3>
        <p>We love feedback. And we love to reply to messages. Our customer service 
		feeds on emails. Just drop as a line and we&#39;ll reply very fast.</p>
        <dl>
          <dt>Our Coordinates</dt>
          <dd><span>E-mail:</span>info@profit-engine.com</dd>
          <dd><span>Phone:</span>1-562-PRICE-05 / 1-562-774-2305</dd>
          <dd><span>Address:</span>2827 Brown Street, Suite 3B</dd>
          <dd><span>&nbsp;</span>Brooklyn, NY 11235</dd>          
        </dl>
      </div>
    </div>
  </article>
</div>
<script>
    $("#contact_form").validationEngine('attach', {
        promptPosition : "centerRight"
    });
</script>
        	
 
