<!DOCTYPE html>
<html>
<head>
  <title>Profit Engine</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "custom.js" %>
  <%= javascript_include_tag "jquery.js" %>
  <%= javascript_include_tag "jquery.roundabout.js" %>
  <%= javascript_include_tag "jquery.easing.1.3.js" %>
  <%= javascript_include_tag "jquery.equalheights.js" %>
  <%= javascript_include_tag "superfish.js" %>
  <%= javascript_include_tag "jquery.prettyPhoto.js" %>
  <%= javascript_include_tag "jquery.validationEngine.js" %>
  <%= javascript_include_tag "jquery.validationEngine-en.js" %>

  <script>
      jQuery(document).ready(function() {
          // binds form submission and fields to the validation engine
          jQuery("#login-form").validationEngine();
      });
  </script>
  <%= yield :head_include %>

  <!--[if lt IE 9]>
  <script type="text/javascript" src="/javascripts/html5.js"></script>
  <link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen">
  <![endif]-->
  <%= csrf_meta_tag %>

  <!-- Start of Woopra Code -->
<script type="text/javascript">
function woopraReady(tracker) {
    tracker.setDomain('profit-engine.com');
    tracker.setIdleTimeout(300000);
    tracker.trackPageview({type:'pageview',url:window.location.pathname+window.location.search,title:document.title});
    return false;
}
(function() {
    var wsc = document.createElement('script');
    wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js';
    wsc.type = 'text/javascript';
    wsc.async = true;
    var ssc = document.getElementsByTagName('script')[0];
    ssc.parentNode.insertBefore(wsc, ssc);
})();
</script>
<!-- End of Woopra Code -->

  <!-- start Mixpanel --><script type="text/javascript">(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?
g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
mixpanel.init("06a219c7ffae3bd029a6adecc9f08aab");</script><!-- end Mixpanel -->
</head>
<body>
<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="bg">
  <!--==============================header=================================-->
  <header>
    <%= render :partial=>"shared/header" %>
  </header>
  <!--==============================content================================-->
  <section id="content">
    <div class="container_24 extra-wrap">
      <%= yield %>
    </div>
  </section>
</div>

<%= render :partial=>"shared/footer" %>
<%= render :partial=>"shared/mobile" %>
<%= yield :deferred_js %>
<% if Rails.env.production? %>
    <%= javascript_include_tag "springmetrics" %>
    <%= javascript_include_tag "analytics/mouseflow" %>
    <%= javascript_include_tag "analytics/uservoice" %>
<% end %>

<noscript>
  <style type="text/css">
      .noscriptmsg {
          background-color: #AE0000;
          color: #f5deb3;
          font-family: sans-serif;
          left: 0;
          padding: 5px 0;
          position: fixed;
          text-align: center;
          top: 0;
          width: 100%;
          z-index: 101;
          font-size: 80%;
      }
  </style>
  <div class="noscriptmsg">
    You do not have javascript enabled. Some features of the website will not work
  </div>
</noscript>

<a title="Real Time Web Analytics" href="http://getclicky.com/100536885"><img alt="Real Time Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100536885); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100536885ns.gif" /></p></noscript>

<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type="text/javascript">
if(document.location.protocol!='https:')
  document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRd.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
if(typeof ClickTale=='function') ClickTale(6372,1,"www14");
</script>
<!-- ClickTale end of Bottom part -->

</body>
</html>